# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = ${GIT_USER_NAME}
email = ${GIT_USER_EMAIL}
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
